<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BatteryNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BatteryNotifier.Properties.Settings>
            <setting name="BATTERY_UPPER_THRESHOLD" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BATTERY_LOWER_THRESHOLD" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BATTERY_UPPER_THRESHOLD_DEFAULT" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="BATTERY_LOWER_THRESHOLD_DEFAULT" serializeAs="String">
                <value>40</value>
            </setting>
        </BatteryNotifier.Properties.Settings>
    </userSettings>
</configuration>